.instance.active {
    border: 1px solid #1890ff;
}

.instance.active > .dragger {
    background-color: #1890ff;
    display: block;
    color: white;
    z-index: 1;
}

.instance .dragger {
    display: none;
}

.dragger {
    padding: 4px;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
}

.instance {
    border: 1px solid #a3a3a3;
    position: relative;
}

.id {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #a3a3a3;
    z-index: 1;
}

.swimlanes {
    table-layout: fixed;
    border: 1px dashed #a3a3a3;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swimlanes:not(:first-of-type):not(:last-of-type) {
    margin: 10px 0;
}

.swimlane {
    border: 1px dashed #a3a3a3;
    height: 42px;
    vertical-align: top;
    position: relative;
    background-color: white;
}

.swimlane.hovered {
    background-color: lightpink;
}

.edit .swimlane, .edit.swimlanes, .edit .instance {
    border-style: none;
}

.swimlanes.edit > tr:first-of-type > .swimlane.row {
    height: inherit;
}

.swimlanes.edit > tr:first-of-type > .swimlane.row > .instance > .form-group {
    min-height: inherit;
}

.edit .id {
    display: none;
}

.list {
    width: 100%;
}

.swimlane.row {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.swimlane.row .instance {
    width: 200px;
    vertical-align: top;
    display: inline-flex;
}

.swimlane.row .form-group > tr > td.label {
    text-align: left;
}

.swimlane.row .indicator {
    display: inline-block;
    height: 100%;
    width: 5px;
}

.swimlane.row .delete {
    line-height: 42px;
    margin: 0 10px 0 0;
}