.layout {
  height: calc(100% - 1px);
}

.form {
  height: 100%;
}

.left,
.right,
.form {
  padding: 10px;
}

.panel {
  width: 100%;
  list-style: none;
  padding: 0;
}

.widget {
  font-size: 14px;
  box-sizing: border-box;
  width: 125px;
  display: inline-block;
  cursor: move;
  border: 1px solid #a3a3a3;
  padding: 5px 10px;
  margin: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

.widget > * {
  margin-right: 4px;
  vertical-align: middle;
}

.placeholder {
  position: absolute;
  z-index: -1;
  font-size: 20px;
  top: calc(50% - 15px);
}

.form > div > .placeholder {
  left: calc(50% - 130px);
}

.right > .placeholder {
  left: calc(50% - 50px);
}
